<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exa.votingapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.exa.votingapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.exa.votingapp.ShowActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.exa.votingapp.SplashScreen"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.exa.votingapp.CandidatelistActivity"
            android:label="@string/title_activity_candidatelist" >
        </activity>
        <activity
            android:name="com.exa.votingapp.SelectCandidateActivity"
            android:label="@string/title_activity_select_candidate" >
        </activity>
        <activity
            android:name="com.exa.votingapp.UniqueKeyActivity"
            android:label="@string/title_activity_unique_key" >
        </activity>
    </application>

</manifest>
